* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --gainsboro: #dbdbdb;
  --bleu-de-france: #2d8dd5;
  --bright-gray: #e5e7eb;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.hero {
  background-image: url(../images/unsplash.webp);
  background-size: cover;
  background-position: center;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: calc(100vh - 88px);
  padding-bottom: 50px;
}
.hero h1 {
  font-size: 45px;
  font-weight: 500;
}
.hero .action {
  display: flex;
  gap: 40px;
}
.hero .action a {
  display: block;
  width: 171px;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  border-radius: 50px;
}
.banner {
  padding-top: 50px;
}
.banner img {
  width: 100%;
  border-radius: 50px;
}
.features {
  padding: 50px 0;
}
.features .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.features .feature {
  width: 389px;
  padding: 54px 29px;
  background-color: var(--gainsboro);
  border-radius: 50px;
  text-align: center;
}
.features .feature span {
  display: block;
  margin: 24px 0;
}
.features .feature p {
  font-size: 15px;
}
@media(max-width:992px){
  .features .container {
    flex-wrap:wrap ;
  }
  .features .feature {
    width: 100%;
  }
}
.our-Learners h2 {
  text-align: center;
  font-family: "Poppins", serif;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 35px;
}
.our-Learners .company-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.our-Learners .company-list img {
  width: 251px;
}


