* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --gainsboro: #dbdbdb;
  --bleu-de-france: #2d8dd5;
  --bright-gray: #e5e7eb;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}